.header{
  height:5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding:1rem 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.header ul{
  display:flex;
  justify-content: space-between;
  text-decoration: none;
  /* font-size: 1.2rem; */
  list-style: none;
  gap: 3rem;
  padding-top: 0.4rem;
  padding-left: 0;
}
.header ul li{
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  /* color:palegoldenrod */
}
.header ul a{
  font-size: 2rem;
  text-decoration: none;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 1.2rem 1.5rem;
}
.bars {
  display: none;
}
.logo {
  margin: 0;
  font-size: 3rem;
}
@media (max-width: 768px){
  .bars {
    display: flex;
    font-size: 2.5rem;
    /* margin-left: 10rem; */
  }
}