.header{
  height:5rem;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  padding:1rem 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  /* position: fixed;   */
  /* width: 100%; */
}
.header ul{
  display:flex;
  justify-content: space-between;
  text-decoration: none;
  /* font-size: 1.2rem; */
  list-style: none;
  gap: 3rem;
  padding-top: 0.4rem;
}
.header ul li{
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  /* color:palegoldenrod */
}
.header ul a{
  font-size: 2rem;
  text-decoration: none;
}
@media (max-width: 768px){
  .header{
    margin: -1;
  }
}